.portfolio-container{
    padding: 3rem;
}

.first-portfolio-row{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; 
    grid-gap: 8rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    animation: slideRight 1s ease-out forwards;
}

.second-portfolio-area{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 14rem;
    grid-row-gap: 6rem;
    justify-content: center;
    align-items: center;
    padding: 6rem 8.18rem;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes slideRight {
    0% {
        transform: translateX(-222px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(222px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}