.portfolio-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: auto; /*This is to allow the user to interact with content*/
    background-color: var(--accent);
    padding: 0 1rem;
    border-radius: 0.5rem;
    box-shadow: -2rem 2rem 1rem 0.1rem rgba(0, 0, 0, 0.41);
}

.portfolio-item .title{
    font-size: 4rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    color: var(--primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--foreground);
}

.portfolio-item .video-section {
    position: relative; 
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio-item .video-section video {
    width: 100%;
    height: auto;
    z-index: -1;
}

.video-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.portfolio-item .video-section a {
    text-decoration: none;
    z-index: 1;
    position: absolute; 
    bottom: 0%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    min-width: 41%;
    width: fit-content;
    font-size: 1rem;
    text-align: center;
    text-wrap: truncate;
    color: rgba(78, 78, 78, 0.66);
    padding: 0.2rem 4rem;
    background-color: rgba(211, 211, 211, 0.66);
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
    transition: background-color 0.5s;
}

.portfolio-item .video-section a .lucide{
    position: absolute;
    left: 1rem;
}

.portfolio-item .video-section a:hover{
    color: gray;
    background-color: lightgray;
}

.portfolio-item .description{
    width: calc(100% - 2rem);
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--secondary);
    text-indent: 1.5rem; 
}