@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background: #F9F6EE;
  --foreground: #1b0006;
  --primary: #80CAC3;
  --secondary: #4E597A;
  --accent: #E4CBFF;
  transition: all 0.66s ease;
}

[data-theme='dark'] {
  --background: #1b0006;
  --foreground: #fff7f8;
  --primary: #d1e30d;
  --secondary: #340887;
  --accent: #bc0b63;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  transition: background-color 0.66s ease, color 0.66s ease;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}